
<header>
  <nav>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">About</a></li>
      <li><a href="/products.html">Products</a></li>
      <li><a href="/services.html">Services</a></li>
      <li><a href="https://applysmart.co.uk" target="_blank">ApplySmart</a></li>
      <li><a href="https://100to10k.co.uk" target="_blank">100to10K</a></li>
      <li><a href="https://calendly.com/executivecall/30min" target="_blank">Book a Call</a></li>
      <li><a href="https://policy.jakoma.org">Privacy / Terms / Cookies</a></li>
    </ul>
  </nav>
</header>
